<!DOCTYPE html>
<html lang="en">

{{ partial "head.html" . }}

<body>

  {{ partial "analytics_ns.html" . }}

  <div id="all">

    <header>

      {{ partial "nav.html" . }}

    </header>

    {{ partial "breadcrumbs.html" . }}

    <div id="content">
      <div class="container" style="min-height: calc(100vh - 348px);">
        <div class="row">

        <ul>
        <!-- Renders the li.html content view for each content/posts/*.md -->
        {{ if eq .RelPermalink "/platform/" }}
            {{ range .Sections }}
              <p><a href="{{ .Permalink }}">{{ .Title }}</a></p>
            {{ end }}
        {{ else }}
            {{ range .Pages }}
              <p><a href="{{ .Permalink }}">{{ .Params.name }}</a></p>
            {{ end }}
        {{ end }}
        </ul>

        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /#content -->

    {{ partial "footer.html" . }}

  </div>
  <!-- /#all -->

  {{ partial "scripts.html" . }}

</body>
</html>
