<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

  <body>

    {{ partial "analytics_ns.html" . }}
    
    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        <section>
          <div class="home-carousel">
            <div class="medium-mask"></div>
            <div class="container">
              <div class="homepage owl-carousel">
                <div class="item">
                  <div class="row">
                    <div class="col-xs-12 col-sm-offset-1 col-sm-5 pull-center">
                      <div class="row">
                        <div class="col-xs-offset-1 col-xs-5 col-sm-5">
                          <img class="img-responsive center-block" src="/img/platform/ads/google.png" alt="">
                        </div>
                        <div class="col-xs-5 col-sm-5">
                          <img class="img-responsive center-block" src="/img/platform/ads/facebook.png" alt="">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12">
                          <img class="img-responsive center-block" src="/img/platform/funnel-top.png" alt="">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-8 col-xs-offset-2">
                        {{ if .Params.logo }}
                          <img class="img-responsive center-block" src="{{ .Params.logo }}" alt="">
                        {{ else }}
                          <h2>{{ .Params.name }}</h2>
                        {{ end }}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12">
                          <img class="img-responsive center-block" src="/img/platform/funnel-bot.png" alt="">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-6 col-xs-offset-3">
                          <img class="img-responsive center-block" src="/img/platform/google.png" alt="">
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-12 col-sm-5 copy text-center">
                      <h1>Measure Marketing ROI</h1>
                      <p>Bridge the gap between sales and marketing.</p>
                      <p>Connect campaign data with closed deals.</p>
                      <p>Supercharge your marketing with the power of Analytics in {{ .Params.name }}.</p>
                      <a href="https://my.attribut.io/users/sign_up" class="btn btn-xl btn-danger btn-block">Start Free Trial</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.project owl-slider -->
            </div>
          </div>
        </section>

        <section>
          <div class="container">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-4">
                  <div class="box-simple custom">
                    <div class="icon">
                      <i class="fa fa-code"></i>
                    </div>
                    <h3>Install</h3>
                    <p>Create a website property and add our javascript snippet to your website</p>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="box-simple custom">
                    <div class="icon">
                      <i class="fa fa-cogs"></i>
                    </div>
                    <h3>Configure</h3>
                    <p>Add attribution fields to {{ .Params.name }} and add hidden fields to your conversion forms</p>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="box-simple custom">
                    <div class="icon">
                      <i class="fa fa-lightbulb-o"></i>
                    </div>
                    <h3>Discover</h3>
                    <p>View source, medium, and campaign data inside {{ .Params.name }}</p>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </section>

        <section>
          <div class="page-carousel">
            <div class="container">

              <div class="item">
                <div class="row">
                  <div class="col-sm-5 lt-padding">
                    <h3>Custom Sales Reports</h3>
                    <p>Build custom sales reports for {{ .Params.name }} with insightful dashboards and measure the KPI's that matters to your company.</p>
                    <p>Track all of your marketing efforts based on KPI's defined by you. Supercharge your sales with custom analyst reports.</p>
                  </div>
                  <div class="col-sm-7">
                    <img class="img-responsive" src="/img/carousel/laptop-analytics-2.png" alt="">
                  </div>
                </div>
              </div>

            </div>
          </div>
        </section>

        <section>
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
              <div class="box-simple">
                <h2>Track All UTM Parameters For Every Lead In {{ .Params.name }}</h2>
              </div>
              <hr>
              <div class="col-sm-4">
                <h3>First Interaction</h3>
                <li>First Interaction Referrer</li>
                <li>First Interaction Source</li>
                <li>First Interaction Medium</li>
                <li>First Interaction Campaign</li>
                <li>First Interaction Content</li>
                <li>First Interaction Term</li>
                <li>First Interaction Landing Page</li>
                <li>First Interaction Session Duration</li>
                <li>First Interaction Page Visits</li>
              </div>
              <div class="col-sm-4">
                <h3>Last Interaction</h3>
                <li>Last Interaction Referrer</li>
                <li>Last Interaction Source</li>
                <li>Last Interaction Medium</li>
                <li>Last Interaction Campaign</li>
                <li>Last Interaction Content</li>
                <li>Last Interaction Term</li>
                <li>Last Interaction Landing Page</li>
                <li>Last Interaction Session Duration</li>
                <li>Last Interaction Page Visits</li>
              </div> 
              <div class="col-sm-4">
                <h3>Customer Behavior</h3>
                <li>Journey By Source</li>
                <li>Journey By Medium</li>
                <li>Journey By Campaign</li>
                <li>Exclude Sources</li>
                <li>Exclude Mediums</li>
                <li>Exclude Campaigns</li>
                <li>Device</li>
                <li>Browser</li>
                <li>Location</li>
              </div>  

            </div>    

          </div>
        </section>

        <hr>

<!--         <section>
          <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
              <div class="box-simple">
                <a href="/demo/" class="btn btn-xl btn-danger btn-block">Demo</a>
              </div>              
            </div>              
          </div>
          <hr>
        </section> -->

<!--         <section>
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
              <div class="box-simple">
                <h2>Track Campaign ROI</h2>
                <h3>Send revenue data from {{ .Params.name }} to your favorite BI tool</h3>   
              </div>
              <img class="img-responsive img-thumbnail" src="/img/blog/201811/revenue.png" alt="google analytics track offline sales" />
              <hr>
        
            </div>
          </div>
        </section> -->
        <section>

          <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
              <div class="box-simple">
                <h2>Don't Rely Soley On Your Advertiser's Analytics</h2>
              </div>
              <hr>
              <p>Define your own parameters for attribution and take control of your Analytics. Get instant source, medium, campaign, and keyword data directly into {{ .Params.name }} when a visitor converts so your sales team has the data they need to close deals and refine and optimize their marketing strategy.</p>           
            </div>
          </div>
          
        </section>

        {{ if .Params.what }}
          <hr>

          <section>
            <div class="container">

              <div class="item">
                <div class="row">
                  <div class="col-xs-5 lt-padding col-xs-offset-1">
                    <h4>What is {{ .Params.name }}?</h4>
                    <p class="small">{{ .Params.what }}</p>
                    <h4>Benefits of using {{ .Params.name }}?</h4>
                    <p class="small">{{ .Params.benefit }}</p>
                    <h4>Why use {{ .Params.name }}?</h4>
                    <p class="small">{{ .Params.why }}</p>
                  </div>
                  <div class="col-xs-5 lt-padding">
                    <h4>What is Google Analytics?</h4>
                    <p class="small">Google Analytics is a free Web analytics service that provides statistics and basic analytical tools for search engine optimization (SEO) and marketing purposes. Google Analytics tracks all of its data by a unique tracking code that you install on every page of your website. It is the most widely used web analytics service on the web. In addition, Google Analytics provides an SDK that allows gathering usage data from iOS and Android apps, known as Google Analytics for Mobile Apps.</p>
                    <h4>Benefits of using Google Analytics?</h4>
                    <p class="small">With Google Analytics, you can track ROI for your online marketing. It gives you insights on how users find and use your website. Google Analytics helps you make decisions based on data. You can justify spending more on your advertising, discover where you should be advertising, and even determine what types of content you need to be putting out there.</p>
                    <h4>Why use Google Analytics?</h4>
                    <p class="small">You can tag & track any advertising, social, PR campaign or any kind of campaign on any platform/website. With Google Analytics, you can also sift & sort your visitors with dozens of dimensions and you can seamlessly integrate Google Products like your Ads account & Search Console. With the help of analytics you can grow and scale your company to new heights.</p>
                  </div>
                </div>
              </div>
            </div>
          </section>

        {{ end }}

        {{ partial "testimonials.html" . }}

        {{ partial "see_more.html" . }}

        {{ partial "recent_posts.html" . }}

        {{ partial "clients.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

    <script src="/js/disable-home.js"></script>

  </body>
</html>
