<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

  <body>

    {{ partial "analytics_ns.html" . }}
    
    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        <section>
          <div class="home-carousel">
            <div class="medium-mask"></div>
            <div class="container">
              <div class="homepage owl-carousel">
                <div class="item">
                  <div class="row">
                    <div class="col-xs-12 col-sm-6 pull-center">
                      <div class="row">
                        <div class="col-xs-6 col-sm-6">
                          <img class="img-responsive center-block" src="/img/platform/ads/google.png" alt="">
                        </div>
                        <div class="col-xs-6 col-sm-6">
                          <img class="img-responsive center-block" src="/img/platform/ads/facebook.png" alt="">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12">
                          <img class="img-responsive center-block" src="/img/platform/funnel-top.png" alt="">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                        {{ if .Params.logo }}
                          <img class="img-responsive center-block" src="{{ .Params.logo }}" alt="">
                        {{ else }}
                          <h2>{{ .Params.name }}</h2>
                        {{ end }}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12">
                          <img class="img-responsive center-block" src="/img/platform/funnel-bot.png" alt="">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-6 col-xs-offset-3">
                          <img class="img-responsive center-block" src="/img/platform/google.png" alt="">
                        </div>
                      </div>

                    </div>
                    <div class="col-xs-12 col-sm-6">
                      <h1>Conversion Tracking For {{ .Params.name }}</h1>
                      <p>Discover your lead generators by collecting key metrics on your visitors.</p>
                      <p>Our experts are standing by to configure your analytics so you don't miss out on where your customers are coming from.</p>
                      <p>Get the full power of Google Analytics by integrating with {{ .Params.name }}.</p>
                      <a href="/join/" class="btn btn-xl btn-danger btn-block track" 
                        data-event-category="Platform Page"
                        data-event-action="Top Click"
                        data-event-label="Red Button"
                        >Met Your Expert</a>

                    </div>
                  </div>
                </div>
              </div>
              <!-- /.project owl-slider -->
            </div>
          </div>
        </section>

        <section class="bar background-white">
          <div class="container">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-4">
                  <div class="box-simple">
                    <div class="icon">
                      <i class="fa fa-cogs"></i>
                    </div>
                    <h3>Meet Your Expert</h3>
                    <p>We'll match you with the best attribution expert for {{ .Params.name }}. Your expert will consult you on how to track visitors from Facebook, Google Search, and Adwords with {{ .Params.name }} through Google Analytics.</p>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="box-simple">
                    <div class="icon">
                      <i class="fa fa-handshake-o"></i>
                    </div>
                    <h3>Configure</h3>
                    <p>Discuss your goals with your expert. Your expert will configure your funnel to start collecting custom metrics and dimensions with Google Analytics from {{ .Params.name }}.</p>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="box-simple">
                    <div class="icon">
                      <i class="fa fa-lightbulb-o"></i>
                    </div>
                    <h3>Discover</h3>
                    <p>Discover all the channels that led to your conversions. By building custom tailored attribution models for your business, you can scale up your marketing efforts with Adwords and Facebook while making the most of {{ .Params.name }}.</p>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </section>

        {{ partial "testimonials.html" . }}

        {{ partial "see_more.html" . }}

        {{ partial "recent_posts.html" . }}

        {{ partial "clients.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

    <script src="/js/disable-home.js"></script>

  </body>
</html>
