<div class="email-signup-form-container panel sidebar-menu" data-spy="affix" data-offset-top="100" data-offset-bottom="150">

  <h3 class="text-center">Do you know where your customers are coming from?</h3>

  <hr>
  <h4 class="callout">Meet an expert to help guide you through the process</h4>
  <a href="/meet/" class="btn btn-block btn-large btn-danger btn-lg">Meet</a>	
  <hr>	
  <ul class="callout">	
    <li>Calculate campaign ROI</li>	
    <li>Discover customer origin</li>	
    <li>Stitch sessions and devices</li>	
  </ul>

</div>