<footer>
</footer>

<!-- /#footer -->

<!-- *** FOOTER END *** -->

<!-- <div class="internal-links">
	{{ partial "widgets/internal-links.html" . }}
</div> -->

<!-- *** COPYRIGHT ***
_________________________________________________________ -->

<div id="copyright">

    <div class="container">

        <div class="col-md-12">
            <div class="text-center">
                Friends - 
                <a target="_blank" href="https://boopis.com">Boopis</a> - 
                <a target="_blank" href="https://rezque.com">Rezque</a> - 
                <a target="_blank" href="https://keystor.app">Keystor</a> - 
                <a target="_blank" href="https://optionsvalue.com">Options Value</a> - 
                <a target="_blank" href="https://xtractor.app">Xtractor</a> - 
                <a target="_blank" href="https://stonktracker.com">Stonk Tracker</a> - 
                <a target="_blank" href="https://shortinteresttracker.com">Short Interest Tracker</a> - 
                <a target="_blank" href="https://workspace.google.com/marketplace/app/email_parser/40769086099">Email Parser</a> - 
                <a target="_blank" href="https://pdfmodo.com/bank-statement-converter">Bank Statement Converter</a>
            </div>
        </div>

        <div class="col-md-12">
            {{ if isset .Site.Params "copyright" }}
            <p class="text-center">{{ .Site.Params.copyright | safeHTML }}</p>
            {{ end }}
        </div>
    </div>
</div>
<!-- /#copyright -->

<!-- *** COPYRIGHT END *** -->
