{{ if isset .Site.Params "testimonials" }}
{{ if .Site.Params.testimonials.enable }}
<section class="bar background-pentagon no-mb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="testimonial">
          <div class="center pull-center">
            <div class="narrow">
              <blockquote>
                <img src="/img/testimonials/testimonial-2.png" alt="">
                <p>Attributio has changed the way we do marketing. We used to spend thousands of dollars on channels that took credit for conversions that originated from another channel or only played a minor role. Now we know which channels and campaigns actually led to conversions. Attributio has been a game changer for us.</p>
                <cite>John McIntyre - CEO, TransTech</cite>
              </blockquote>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>
<!-- /.bar -->
{{ end }}
{{ end }}
