{{ if isset .Site.Params "testimonials" }}
{{ if .Site.Params.testimonials.enable }}
<section class="bar background-pentagon no-mb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="testimonial">
          <div class="center pull-center">
            <div class="narrow">
              <blockquote>
                <img src="/img/testimonials/testimonial-2.png" alt="">
                <p>Google Analytics attributed half of our visitors as Direct traffic and we couldn't take any meaningful actions to improve conversions as a result. The team at Attributio set up our analytics to collect more data and customized our reports to give us insight into 90% of all of our traffic. Now we can properly budget our marketing campaigns for rocket growth and scale.</p>
                <cite>John McIntyre - CEO, TransTech</cite>
              </blockquote>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>
<!-- /.bar -->
{{ end }}
{{ end }}
