{{ if isset .Site.Params "testimonials" }}
{{ if .Site.Params.testimonials.enable }}
<section class="bar background-pentagon no-mb">
  <div class="container">
    <div class="row">
      <div class="col-md-6">

        <div class="testimonial">
          <div class="center pull-center">
            <div class="narrow">
              <blockquote>
                <img src="/img/testimonials/person-1.jpg" alt="">
                <p>Attributio has been extremely helpful and helped us to tackle one of the most complicated Google Analytics projects. Not only did they help to solve the issue but kept us up to date regarding all steps throughout the project. Highly recommended experts!</p>
                <cite>Andrew Chishchevoy - CEO, Brokermint</cite>
              </blockquote>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-6">

        <div class="testimonial">
          <div class="center pull-center">
            <div class="narrow">
              <blockquote>
                <img src="/img/testimonials/person-2.jpg" alt="">
                <p>My best experience with Business Intelligence Consultants so far. Attributio has great planning & communication, and their work is top notch. I always had confidence that they were capable and thorough to handle the project every step of the way. Would certainly hire them again. Thanks Attributio</p>
                <cite>David Haskins - CEO, Haskins & Company</cite>
              </blockquote>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- /.bar -->
{{ end }}
{{ end }}
