<!DOCTYPE html>
<html lang="en">

{{ partial "head.html" . }}

<body>

  {{ partial "analytics_ns.html" . }}

  <div id="all">

    <header>

      {{ partial "nav.html" . }}

    </header>

    <div id="heading-breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Documentation</h1>
          </div>
        </div>
      </div>
    </div>

    <div id="content">
      <div class="container" style="min-height: calc(100vh - 348px);">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">

            <h3>Attributio</h3>

            {{ range where .Pages "File.Dir" "in" "/docs/attributio/" }}
              <p><a href="{{ .Permalink }}">{{ .Params.Title }}</a></p>
            {{ end }}

            <hr>

            <h3>Salesforce</h3>

            {{ range where .Pages "File.Dir" "in" "/docs/salesforce/" }}
              <p><a href="{{ .Permalink }}">{{ .Params.Title }}</a></p>
            {{ end }}

            <hr>

            <h3>Stripe</h3>

            {{ range where .Pages "File.Dir" "in" "/docs/stripe/" }}
              <p><a href="{{ .Permalink }}">{{ .Params.Title }}</a></p>
            {{ end }}

            <hr>

          </div>

        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /#content -->

    {{ partial "footer.html" . }}

  </div>
  <!-- /#all -->

  {{ partial "scripts.html" . }}

</body>
</html>
